* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
    background-color: aqua;
} */

:root {
    --discount-color: #EB0037;
    --sustenibility-color: #00875A;
    --new-price-color: #FF0000;
}

/* Dimensions of the container */

#container {
    width: 80%;
    background-color: white;
    margin: 3rem auto;
    text-align: center;
}

/* style of article */

.article {
    display: inline-block;

    width: 30%;
    /* border: 1px solid black; */
}

.product-image {
    position: relative;
}

.image1, .image2 {
    max-width:100%;;
}

.image2 {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
}

.article:hover .image2 {
    visibility: visible;
}



/* heart badge */

.heart {
    height: 2rem;
    width: 2rem;
    background-color: white;
    position: absolute;
    top: 1rem;
    right: 0;
    text-align: center;
    line-height: 2rem;
    vertical-align: middle;
}

.badges {
    /* display: inline-block;
    padding: 0.2rem;
    color: white;
    font-size: 0.8rem;
    font-weight: bold; */

    position: absolute;
    left: 0;
    bottom: 1rem;
}

.discount, .sustain {
    display: inline-block;
    padding: 0.2rem;
    color: white;
    font-size: 0.8rem;
    font-weight: bold;

}

.discount {
    background-color: var(--discount-color);
}

.sustain {
    background-color: var(--sustenibility-color);
}

.actual {
    color: var(--new-price-color);
    font-weight: bold;
}

.erased {
    text-decoration: line-through;
}

.product-infos {
    text-align: left;
}


